*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.ap_
*.dex
*.class
bin/
gen/
.classpath
.project
.settings
.gradle/
build/
.idea/
out/
*.li
profile-out*/
gradle-user-home/
